.container{
  padding:0;
  clear: both;
  min-height: 100vh;
}
.sidebar-menu{
  min-height: inherit;
  width: 20%;
  float: left;
  background-color: #f4f4f4;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}
.project-info{
  text-align: center;
  padding:5px;
  border-bottom:1px solid #000000;
}
.html-playground{
  width: 80%;
  min-height:100vh;
  border:1px dotted #000000;
  box-sizing: border-box;
  float: right;
  padding-bottom: 50px;
  position: relative;
  /* display: flex; */
}
.html-playground > * {
  position: absolute;
  /* flex-grow: 1; */
}